[paths]
#[paths] INPUT (mandatory)
pre:./pre.js
post:./post.js
tmpdir:./temp
htmlparse:./htmlparse.config

#[paths] OUTPUT (optional)
#To disable any of these output options, just add a '#' before them
#Doing so will prevent the output from being created
outdir:./temp/files
log_ips:./temp/malicious_ips.log
decoded:./temp/decoded.log

#### You can use $CURDATE: output files to 20100610-files/:
#outdir:./$CURDATE-files
#log_ips:./$CURDATE-files/malicious_ips
#decoded:./$CURDATE-files/decoded.log

#### You can use a randomized proxy list or a currentProxy (ignores randomness)
#proxy:a.b.c.d:8080,e.f.g.h:80
#currentproxy:i.j.k.l:8000

[decoding]
#You can also override the default decoding options using the following options
#(instead of using the command line options), below are safe defaults:
#command line still takes preference!
timeout:30
redoevaltime:1
maxruntime:0
fasteval:False
saveallfiles:False
saveallexes:False
active:False
quiet:False
verbose:False
veryverbose:False
